---
layout: default
publication_limit: 100
---

{% assign pub_size = site.data.publications.size | size %}
{% assign research_size = site.data.ongoing-research.size | size %}
{% assign code_size = site.data.code.size | size %}
{% assign talks_size = site.data.talks.size | size %}

<main class="flex flex-col space-y-8">
    <section class="flex flex-col">
      <h1 class="mb-4">Achievements and Planned Activities</h1>
      <section class="mb-4">
          <h2 class="mb-2">Ongoing research</h2>
          {% if research_size == 0 %}
         <p>There is no ongoing research at the moment</p>
          {% else %}
          {% include ongoing-research-list.html %}
          {% endif %}
      </section>

      {% if code_size == 0 %}
      {% else %}
      <section class="mb-4">
          <h2 class="mb-2">Code</h2>
          {% include code-list.html %}
      </section>
      {% endif %}

      <section class="mb-4">
        <h2 class="mb-2">Publications</h2>
        {% if pub_size == 0 %}
        <p>No publications yet</p>
        {% else %}
        {% include publication-list.html src=site.data.publications %}
        {% endif %}
      </section>

      <section class="mb-4">
          <h2 class="mb-2">Talks</h2>
          {% if talks_size == 0 %}
          <p>There are no talks yet</p>
          {% else %}
          {% include talk-list.html %}
          {% endif %}
      </section>
    </section>

    <section>
      <h1 class="mb-4">Prior related joint work</h1>
      {% include publication-list.html src=site.data.previous_publications %}
    </section>
</main>
