{% assign img_url = '/assets/img/logo' | prepend: site.baseurl %}
<footer class="bg-grapa-dark">
  <div class="flex p-4 md:items-center md:justify-between">
    <span class="text-sm text-grapa-light sm:text-center flex-none"
      >© 2023
      <a
        href="{{ '/' | relative_url }}"
        class="hover:underline text-grapa-light"
        >{{ site.title }}</a
      >
    </span>
    <div class="flex grow space-x-4 pr-6 h-10 justify-end">
      <img class="" src="{{ img_url }}/inria.png" alt="Inria logo" />
      <img class="" src="{{ img_url }}/uchile.png" alt="Universidad de Chile logo" />
      <!-- <img class="px-2" src="{{ img_url }}/gallinette.png" alt="" /> -->
      <img class="" src="{{ img_url }}/pleiad.png" alt="Pleiad logo" />
    </div>
  </div>
</footer>
