<nav class="sm:px-4 p-6 bg-grapa-dark">
  <div class="container flex flex-wrap items-center justify-between mx-auto">
    <a href="{{ '/' | relative_url }}" class="flex items-center">
        <!-- <img src="https://flowbite.com/docs/images/logo.svg" class="h-6 mr-3 sm:h-9" alt="Flowbite Logo" /> -->
        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">{{ site.title }}</span>
    </a>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul class="flex lg:flex-grow">
        {% for item in site.navigation_header %}
        <a href="{{ item.url | relative_url }}" class="text-lg  block mt-4 lg:inline-block lg:mt-0 hover:text-grapa-accent mr-4 text-white {% if item.url == page.url %} {{ site.palette.text.light }} {% endif %}">
        <li>
            {{ item.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

</nav>


