{% assign talks = site.data.talks %}
<ul class="flex flex-col space-y-2">
  {% for talk in talks %}
  <li class="py-3 px-6 bg-white rounded-lg shadow hover:bg-gray-100">
    <div class="flex justify-between">
      <h5
        class="mb-2 text-2xl font-bold tracking-tight {{site.palette.text.dark}}"
      >
        {% if talk.url %}
        <a href="{{ talk.url }}"> {{ talk.name }} </a>
        {% else %} {{ talk.name }} {% endif %}
      </h5>
    </div>
    <div class="flex flex-col">
      {{ talk.author }} - {{ talk.location }} - {{ talk.date }}
    </div>
  </li>
  {% endfor %}
</ul>
