{% assign visits = site.data.visits | sort: 'start_date' | reverse %}

<ul class="flex flex-col space-y-2">
  {% for visit in visits %} {% assign start_year = visit.start_date | date: '%Y'
  %} {% assign start_month = visit.start_date | date: '%B' %} {% assign
  start_day = visit.start_date | date: '%-d' %} {% if visit.end_date %} {%
  assign end_year = visit.end_date | date: '%Y' %} {% assign end_month =
  visit.end_date | date: '%B' %} {% assign end_day = visit.end_date | date:
  '%-d' %} {% if start_month == end_month and start_year == end_year %} {%
  assign date_range = start_month | append: ' ' | append: start_day | append:
  '-' | append: end_day | append: ', ' | append: start_year %} {% else %} {%
  assign date_range = start_month | append: ' ' | append: start_day | append: ',
  ' | append: start_year | append: ' to ' | append: end_month | append: ' ' |
  append: end_day | append: ', ' | append: end_year %} {% endif %} {% else %} {%
  assign date_range = start_month | append: ' ' | append: start_day | append: ',
  ' | append: start_year | append: ' to ongoing' %} {% endif %}

  <li class="py-3 px-6 bg-white rounded-lg shadow hover:bg-gray-100">
    <div class="flex justify-between">
      <h5
        class="mb-2 text-2xl font-bold tracking-tight {{site.palette.text.dark}}"
      ></h5>
    </div>
    <div class="flex flex-col">
      <span class="">{{date_range}}: {{visit.title}}</span>
      {% if visit.url %}
      <a href="{{ visit.url }}">{{visit.description}}</a>
      {% else %}
      <span class="">{{visit.description}}</span>
      {% endif %}
    </div>
  </li>
  {% endfor %}
</ul>
